<div class="contentWrapper" *ngIf="appState && videoList">

    <!-- Toolbar -->
    <div class="contentToolbar">

        <div class="loader" *ngIf="appState.loader">
            <app-loader></app-loader>
        </div>

        <div class="notFoundMsg" *ngIf="appState.notFound && !appState.loader">
            <div>Not found...</div>
        </div>

        <div class="toolbarControl" *ngIf="!appState.notFound && !appState.loader"
            [class.borderToolBar]="videoList.length > 0">
            <mat-checkbox class="masterSelect" *ngIf="videoList.length > 1"
                (change)="onSelectAll($event)"
                [checked]="allSelected"
                [indeterminate]="interSelected"
                [color]="'primary'">
            </mat-checkbox>

            <div class="counter" *ngIf="videoList.length > 0">
                <span *ngIf="videoList.length > 1">{{ selectedCount }}/</span>
                <span>{{ videoList.length }} </span>
                <span> Track</span>
                <span *ngIf="videoList.length > 1">s</span>
            </div>

            <div class="flexSpacer" *ngIf="videoList.length > 0"></div>

            <button class="control" mat-button
                *ngIf="videoList.length > 0"
                [class.anim]="selectedCount > 0"
                [disabled]="selectedCount === 0"
                [class.controlDisabled]="selectedCount === 0"
                (click)="download()">
                <mat-icon class="controlIcon" svgIcon="cloud-download"></mat-icon>
                <span class="controlText">Download</span>
            </button>
        </div>
    </div>

    <!-- Video List -->
    <div class="contentBox">
        <div class="videoListItem"
            *ngFor="let video of videoList; let i = index; let even = even; let odd = odd; trackBy: trackByFn"
            [ngClass]="{ odd: odd, even: even }">

            <mat-checkbox class="videoSelected"
                *ngIf="videoList.length > 1"
                [(ngModel)]="video.selected"
                (change)="onSelect(video)"
                [checked]="video.selected"
                [color]="'primary'">
            </mat-checkbox>

            <div class="videoThumb">
                <img [src]="video.thumb" alt="">
            </div>

            <div class="videoInfos">
                <span class="videoDuration">{{ video.duration | duration }}</span>
                <span class="videoTitle"> - {{ video.title }}</span>
            </div>
        </div>
    </div>
</div>
