


<div class="contentWrapper">

    <div class="contentToolbar">

        <div class="loader" *ngIf="appState.loader">
            <app-loader></app-loader>
        </div>

        <div class="notFoundMsg" *ngIf="appState.notFound && !appState.loader">
            <div>Not found...</div>
        </div>

        <div class="toolbarControl" *ngIf="!appState.notFound && !appState.loader"
            [class.borderToolBar]="appState?.videoList?.length > 0">
            <mat-checkbox class="masterSelect" *ngIf="appState?.videoList?.length > 1"
                (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
                [color]="'primary'">
            </mat-checkbox>

            <div class="counter" *ngIf="appState?.videoList?.length > 0">
                <span *ngIf="appState?.videoList?.length > 1">{{ this.selection.selected.length }}/</span>
                <span>{{ appState?.videoList?.length }} </span>
                <span> Track</span>
                <span *ngIf="appState?.videoList?.length > 1">s</span>
            </div>

            <div class="flexSpacer" *ngIf="appState?.videoList?.length > 0"></div>

            <button class="control" mat-button
                *ngIf="appState?.videoList?.length > 0"
                [disabled]="!selection.hasValue() && appState?.videoList?.length > 1"
                [class.anim]="selection.hasValue() || appState?.videoList?.length === 1"
                [class.controlDisabled]="!selection.hasValue() && appState?.videoList?.length > 1"
                (click)="download()">
                <mat-icon class="controlIcon" svgIcon="cloud-download"></mat-icon>
                <span class="controlText">Download</span>
            </button>
        </div>
    </div>

    <div class="contentBox">
        <div class="videoListItem"
            *ngFor="let video of appState?.videoList; let i = index; let even = even; let odd = odd; trackBy: trackByFn"
            [ngClass]="{ odd: odd, even: even }">

            <mat-checkbox class="videoSelected" [(ngModel)]="video.selected"
                *ngIf="appState?.videoList?.length > 1"
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(video) : null"
                [checked]="selection.isSelected(video)"
                [color]="'primary'">
            </mat-checkbox>

            <div class="videoThumb">
                <img [src]="video.thumb" alt="">
            </div>

            <div class="videoInfos">
                <span class="videoDuration">{{ video.duration | duration }}</span>
                <span class="videoTitle"> - {{ video.title }}</span>
            </div>
        </div>
    </div>
</div>
