
.header {
    background-color: transparent;

    .rowHeader {
        height: 64px;
        background-color: transparent;

        .settingsHeader {
            width: 100%;
            font-size: 1.2rem;
            padding: 4px 15px 3px 15px;
            border-radius: 30px;
            border: 1px solid white;
            color: white;
            background-color: transparent;
            text-align: center;
        }

        .inputBar {
            width: 100%;
            font-size: 1.2rem;
            padding: 6px 15px 6px 15px;
            border-radius: 30px;
            border: 1px solid white;
            color: white;
            background-color: transparent;

            &::placeholder {
                color: white;
                opacity: 0.6;
            }

            &.clearable {
                padding-right: 45px;
            }
        }

        .clearBtn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 28px;
            height: 28px;
            border-radius: 30px;
            position: absolute;
            right: 78px;
            color: white;
            transition: all ease 100ms;

            .clearBtnIco {
                margin-top: 3px;
            }

            &:hover {
                // border: 1px solid white;
                background-color: rgba(255, 255, 255, 0.1);
            }
        }

        .settingsBtn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 40px;
            min-width: 40px;
            height: 40px;
            border-radius: 40px;
            color: white;
            // background-color: darkgrey;
            margin-left: 14px;
            border: 1px solid white;

            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
    }
}