.dialogContainer {

    .FormRow {
        border-radius: 12px;
        margin-bottom: 30px;
        border: 1px solid #E4E4E4;

        legend {
            font-size: 1.2rem;
            color: #E4E4E4;
        }
    }

    .settingsRow {
        display: flex;
        margin: 5px;

        .settingsMediaTypeWrapper {
            background-color: rgba(0, 0, 0, 0.1);
            color: #E4E4E4;

            .mat-button-toggle-group {
                box-shadow: unset;
                height: 34px;

                .mat-button-toggle {
                    color: white;
                    height: 34px;

                    &.mat-button-toggle-checked {
                        background-color: rgba(255, 255, 255, 0.1);
                    }

                    &:hover:not(.mat-button-toggle-checked) {
                        background-color: rgba(255, 255, 255, 0.2);
                    }
                }
            }
        }

        .settingsInputWrapper {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            background-color: rgba(0, 0, 0, 0.1);
            color: #E4E4E4;
            cursor: pointer;
            padding-right: 10px;
            width: 100%;
            justify-content: space-between;

            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }

        .concurrentDownloadInputWrapper {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            background-color: rgba(0, 0, 0, 0.1);
            color: #E4E4E4;

            .settingsBtn {
                width: 34px;
                height: 34px;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.2);
                }
            }
        }

        .settingsInput {
            font-size: 1.2rem;
            padding: 3px 15px 4px 8px;
            max-width: 100%;
            display: flex;
            word-break: break-all;
            align-self: center;

            &.settingsInputConcDl {
                width: 60px;
                justify-content: center;
            }

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
            }
        }

        .settingsBtn {
            color: #E4E4E4;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            align-self: center;
        }

    }
}
