/****************************

    ANGULAR MATERIAL

****************************/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
// @import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
// @import "~@angular/material/prebuilt-themes/purple-green.css";

/****************************

    Fonts

****************************/
@font-face {
    font-family: 'Open Sans';
    font-weight: 800;
    font-style: normal;
    src: url('../assets/fonts/OpenSans-Regular/OpenSans-Regular.eot');
    src: url('../assets/fonts/OpenSans-Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/OpenSans-Regular/OpenSans-Regular.woff2') format('woff2'),
    url('../assets/fonts/OpenSans-Regular/OpenSans-Regular.woff') format('woff'),
    url('../assets/fonts/OpenSans-Regular/OpenSans-Regular.ttf') format('truetype'),
    url('../assets/fonts/OpenSans-Regular/OpenSans-Regular.svg#OpenSansOpenSans-Regular') format('svg');
}

/****************************

    Reset

****************************/
*:not(.mat-dialog-container) {
    font-family: 'Open sans';
    box-sizing: border-box;
    outline: none;
    &:not(input) {
        user-select: none;
    }
}

html,
body {
    cursor: default;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    position: relative;
}

input,
select {
  vertical-align: middle;
}

input,
select,
textarea {
    border: 0;
    margin: 0;
}

button,
input[type='button'],
input[type='submit'] {
    padding: 0;
    border: 0;
    border-radius: 0;
    margin: 0;
    background: transparent;
    cursor: pointer;
    &:focus { outline: none;}
}

.flexSpacer { flex: 1 1 auto; }


/****************************

    Custom global

****************************

// Custom Scroll bar
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-thumb {
    background: #454d57;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-button {
    height: 15px;
    border-radius: 0;
    background: #454d57;
}
*/

/****************************

    Unglorious hack

****************************/
.mat-checkbox-frame {
    // border-color: rgba(0,0,0,.54);
    border-color: white;
}

.mat-tab-label-container {
    display: none !important;
}

.mat-tab-header, .mat-tab-nav-bar {
    border-bottom: none;
}