.messageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .messageTitle {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        color: white;
    }

    .messageIcon {
        text-align: center;

        img {
            width: 100px;
        }
    }

    .messageDesc {
        font-size: 1.3rem;
        text-align: center;
        color: white;
    }

    .messageBtn {
        font-size: 1.3rem;
        text-align: center;
        color: white;
        margin-top: 50px;
    }
}
