<div class="videoListItemWrapper">

    <!--
    *ngIf="videoList.length > 1"
    -->

    <div class="videoListItem">
        <mat-checkbox class="videoSelected"
            *ngIf="video.status === progressStatus.NONE"
            (change)="onVideoChange()"
            [(ngModel)]="video.selected"
            [checked]="video.selected"
            [disabled]="video.status !== progressStatus.NONE || disableSelection"
            [color]="'primary'">
        </mat-checkbox>

        <mat-checkbox class="videoSelected"
            *ngIf="video.status !== progressStatus.NONE"
            [checked]="true"
            [disabled]="video.status !== progressStatus.NONE || disableSelection"
            [color]="'primary'">
        </mat-checkbox>

        <div class="videoThumb">
            <img *ngIf="video.status !== progressStatus.ENDED"
                [src]="video.thumb" alt=""
                [class.hidded]="video.status !== progressStatus.NONE && video.progress">

            <img *ngIf="video.status === progressStatus.ENDED"
                src="assets/icons/checked.svg" alt="">

            <div class="progressDetail" *ngIf="video.status !== progressStatus.NONE && video.progress">
                <div class="detailTitle">Download</div>
                <div class="detailNbr">{{ video.progress?.percent }} %</div>
                <div class="detailNbr">{{ video.progress?.downloaded }}/{{ video.progress?.total }} Mo</div>
            </div>

            <!--
                <div class="progressDetail">
                    <div class="detailTitle">Download</div>
                    <div class="detailNbr">2.068</div>
                    <div class="detailNbr">4.463 Mo</div>
                </div>
            -->
        </div>

        <div class="videoInfos">
            <span class="videoDuration">{{ video.duration | duration }}</span>
            <span class="videoTitle">&nbsp;&nbsp;{{ video.title }}</span>
        </div>
    </div>

    <div class="videoListItemBackground"
        [ngClass]="oddEvenClass">
    </div>

    <div class="downloadProgress" *ngIf="video.status !== progressStatus.NONE && video.status !== progressStatus.ENDED"
        [style.width]="video.progress?.percent + '%'">
    </div>

</div>