.videoListItemWrapper {
    position: relative;
    width: 100%;
    height: 60px;

    .downloadProgress {
        position: absolute;
        z-index: 1;
        background-color: rgba(74, 0, 247, 0.25);
        height: 60px;
        // width: 40%;
        top: 0;
    }

    .videoListItemBackground {
        position: absolute;
        height: 100%;
        width: 100%;

        &.even {
            background-color: rgba(0, 0, 0, 0.2);
        }
        // &.odd { background-color: rgba(0, 0, 0, 0.3); }
    }

    .videoListItem {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 5px 0 5px 0;
        font-size: 0.9rem;
        z-index: 2;

        .videoSelected {
            align-self: center;
            margin-left: 20px;
        }

        .videoThumb {
            align-self: center;
            height: 50px;
            width: 50px;
            display: flex;
            flex-direction: column;
            padding-right: 30px;
            padding-left: 30px;
            box-sizing: content-box;
            position: relative;

            img {
                object-fit: cover;
                height: 50px;
                border-radius: 50%;

                &.hidded {
                    opacity: 0.3;
                }
            }

            .progressDetail {
                position: absolute;
                left: 0;
                right: 0;
                top: -4px;
                height: 100%;
                text-align: center;

                // .detailTitle {}
                .detailNbr {
                    font-size: 0.8rem;
                }
            }
        }


        .videoInfos {
            overflow: hidden;
            padding: 3px 0 3px 0;
            line-height: 1.5rem;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;

            .videoDuration {
                border: 1px solid white;
                padding: 0 5px 0 5px;
                font-size: 0.7rem;
            }

            // .videoTitle {}

            .videoSubInfos {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                font-size: 0.8rem;

                // .videoDuration {}
                // .videoDate {}
            }
        }
    }
}