<div class="dialogContainer">

    <!-- Dialog header -->
    <mat-toolbar class="dialogHeader">
        <div class="textBar flexSpacer">Download end</div>
        <button class="iconBtn" [mat-dialog-close]="true">
            <mat-icon svgIcon="check"></mat-icon>
        </button>
    </mat-toolbar>

    <!-- Dialog content -->
    <div mat-dialog-content>

        <!-- Message -->
        <div class="messageBox">
            <div class="messageItemBox">

                <div class="messageItem success" *ngIf="message.successCount > 0">
                    <div class="itemCount">{{ message.successCount }}</div>
                    <div class="itemDesc">Success</div>
                </div>

                <div class="messageItem cancel" *ngIf="message.cancelCount > 0">
                    <div class="itemCount">{{ message.cancelCount }}</div>
                    <div class="itemDesc">Cancel</div>
                </div>

                <div class="messageItem error" *ngIf="message.errorCount > 0">
                    <div class="itemCount">{{ message.errorCount }}</div>
                    <div class="itemDesc">Error</div>
                </div>
            </div>

            <div class="errorTitle">Error:</div>

            <div class="errorBox" *ngIf="message.errorCount > 0 && message.error">
                <div class="theError">{{  message.error }}</div>
            </div>
        </div>

    </div>
</div>


<!--
                    <img src="assets/icons/checked.svg" >
                    <img src="assets/icons/cancel.svg" >
                    *ngIf="message.type === 'ERROR' || message.type === 'CANCEL'"
                -->